.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  height: 1024px;
  position: relative;
}
.landing-page {
  background: #cdd1ff;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 43px;
  width: 173px;
  height: 44px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1002px;
  top: 55px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1163px;
  top: 55px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1269px;
  top: 55px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 161px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reach-out-to-the-course-team-for-support-or-inquires {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 281px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 347px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ta-contact-bharath-sreekumar-bsreekum-umd-edu-07-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #fffcfc;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 489px;
  width: 742px;
  height: 202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
